<%= form_for (@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Ime' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, 'Prezime' %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :avatar, 'Slika' %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :type, 'Tip' %><br />
    <%= f.select :type, options_for_user_types %>
  </div>
  <div class="field">
    <%= f.label :birthday, 'Datum rođenja' %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Broj telefona' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :genre, 'Spol' %><br />
    <%= f.radio_button :genre, 'M' %>M
    <%= f.radio_button :genre, 'Ž' %>Ž
  </div>
  <div class="field">
    <%= f.label :profession, 'Zanimanje' %><br />
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :interests, 'Interesi' %><br />
    <%= f.text_area :interests %>
  </div>
  <div class="field">
    <%= f.label :user_organization_id, 'Udruga' %><br />
    <%= collection_select(:user, :organization_id, Organization.all, :id, :name, {:include_blank => true} ) %>
  </div>
  <div class="field">
    <%= f.label :password, 'Lozinka' %><br />
    <%= f.password_field :password, :value => '' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Potvrda lozinke' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

