%table
  %tr
    %th
      Prezime i ime
    %th
      Email
    %th
      Telefon
    %th
      Tim

  - @users.each do |user|
    %tr{:class => cycle('odd', 'even')}
      %td
        = link_to "#{user.surname} #{user.name}", user
      %td
        = user.email
      %td
        = user.phone
      %td
        = user.organization.name if member? user and !user.organization.nil?

