<h1><%= @title %></h1>

<%= render :partial => 'users_table' %>

<br />


<% content_for :sidebar do %>
  <%= render :partial => 'simple_search' %>
  <p><%= link_to 'Dodaj Älana', new_user_path %></p>
  <p><%= link_to 'Napredna pretraga', 'users/search' %>
<% end %>

