<p id="notice"><%= notice %></p>

<% content_for :left_bar do %>
  <div id="user">
    <h1><%= @title %></h1>
    <% unless @user.avatar_file_name.nil? %>
        <%= image_tag @user.avatar.url(:medium) %>
    <% end %>
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Datum rođenja:</b>
      <%= @user.birthday.strftime("%d.%m.%Y") %>
    </p>

    <p>
      <b>Telefon:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Spol:</b>
      <%= @user.genre %>
    </p>

    <p>
      <b>Zanimanje:</b>
      <%= @user.profession %>
    </p>

    <p>
      <b>Dodatne informacije:</b>
      <%= simple_format h(@user.interests) %>
    </p>
  </div>
<% end %>


<% content_for :sidebar do %>
  <p><%= link_to 'Izmijeni profil', edit_user_path(@user) %></p>
  <p><%= link_to 'Obriši profil', @user, :confirm => 'Jeste li sigurni?', :method => :delete %></p>
  <% unless @user.events.empty? %>
    <div id="user_events" class="rounded-box">
      <b>Prijavljen na događaje</b>
      <% @user.events.each do |event| %>
        <p><%= link_to event.name, event %><br/>
           Datum: <%= event.start_date.strftime("%d.%m.%Y.")%><br/>
           Mjesto: <%= event.location %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>

