<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>


<div id="avatar">
  <%= image_tag @user.avatar.url(:medium) unless @user.avatar.url.blank? %>
</div>

<div id="user" class="rounded-box">
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Genre:</b>
  <%= @user.genre %>
</p>

<p>
  <b>Profession:</b>
  <%= @user.profession %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>
</div>

<% content_for :sidebar do %>
  <%= link_to 'Izmjeni profil', edit_user_path(@user) %><br/>
  <%= link_to 'Obriši profil', @user, :confirm => 'Jeste li sigurni?', :method => :delete %>
<% end %>

