= form_for @event do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .input
    .field
      = f.label :name, 'Naziv'
      %br
      = f.text_field :name
    .field
      = f.label :location, 'Mjesto'
      %br
      = f.text_field :location
    .field
      = label_tag :start_date, 'Početak'
      %br
        = text_field_tag :start_date, @event.start_date.nil? ? nil : @event.start_date.strftime("%d/%m/%Y")
        &nbsp;u
        = text_field_tag :start_time, @event.start_date.nil? ? nil : @event.start_date.strftime("%H:%M")
    .field
      = label_tag :end_date, 'Završetak'
      %br
        = text_field_tag :end_date, @event.end_date.nil? ? nil : @event.end_date.strftime("%d/%m/%Y")
        &nbsp;u
        = text_field_tag :end_time, @event.end_date.nil? ? nil : @event.end_date.strftime("%H:%M") unless @event.nil?
      :javascript
        $(function(){
        $('#start_date, #start_time,' + '#end_date, #end_time').calendricalDateTimeRange({usa: false,
                                                                                          isoTime: true,
                                                                                          minTime: {hour: 0, minute: 0},
                                                                                          defaultTime: {hour: 15, minute: 0}
                                                                                          });
        })
    .field
      = f.label :description, 'Opis'
      %br
      = f.text_area :description
    .actions
      = f.submit 'Pošalji'

