%h1= @title

%table
  %tr
    %th Naziv
    %th Početak
    %th Kraj
    %th Mjesto

  - @events.each do |event|
    %tr{:class => cycle('odd', 'even')}
      %td= link_to event.name, event
      %td= event.start_date.strftime("%d.%m.%Y u %H:%M")
      %td= event.end_date.strftime("%d.%m.%Y u %H:%M")
      %td= event.location
%br

- content_for :sidebar do
  - if admin?
    %p= link_to 'Dodaj događaj', new_event_path

