%p#notice= notice

%h1= @title

%p
  %b Počinje
  = @event.start_date.strftime("%d.%m.%Y u %H:%M")
%p
  %b Završava
  = @event.end_date.strftime("%d.%m.%Y u %H:%M")
%p
  %b Mjesto:
  = @event.location

%p
  %b Opis:
  - if @event.description.empty?
    %p Nema opisa događaja
  - else
    .rounded-box= simple_format h(@event.description)

-if current_user
  -if @event.applied? current_user
    -form_tag ("#{unregister_path}") do
      %input{:name => "event_id", :value => @event.id, :type => "hidden"}
      %input{:name => "user_id", :value => current_user.id, :type => "hidden"}
      = submit_tag 'Odjava'
  -else
    -form_tag ("#{register_path}") do
      %input{:name => "event_id", :value => @event.id, :type => "hidden"}
      %input{:name => "user_id", :value => current_user.id, :type => "hidden"}
      = submit_tag 'Prijava'

- if @event.users.empty?
  %p Nema prijavljenih na događaj
- else
  %p
    %b Sudionici:
  %table
    %tr
      %th Prezime i ime
      %th Email
      %th Telefon
    - @event.users.each do |user|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to "#{user.surname} #{user.name}", user
        %td= user.email
        %td= user.phone

- content_for :sidebar do
  - if admin?
    %p
      = link_to 'Dodaj događaj', new_event_path
  - if authorized_for @event
    %p
      = link_to 'Izmijeni događaj', edit_event_path(@event)
    %p
      = link_to 'Obriši događaj', @event, :confirm => 'Are you sure?', :method => :delete

