%p#notice= notice

%p
  %b Naziv:
  = @event.name
%p
  %b Datum poÄetka:
  = @event.start_date
%p
  %b Datum zavrÅ¡etka:
  = @event.end_date
%p
  %b Mjesto:
  = @event.location
%p
  %b Opis:
  = @event.description

-if current_user
  -if @event.applied? current_user
    -form_tag ("#{unregister_path}") do
      %input{:name => "event_id", :value => @event.id, :type => "hidden"}
      %input{:name => "user_id", :value => current_user.id, :type => "hidden"}
      = submit_tag 'Odjava'
  -else
    -form_tag ("#{register_path}") do
      %input{:name => "event_id", :value => @event.id, :type => "hidden"}
      %input{:name => "user_id", :value => current_user.id, :type => "hidden"}
      = submit_tag 'Prijava'


%p
  %b Sudionici:
  %table
    -@event.users.each do |user|
      %tr
        %td= link_to "#{user.name} #{user.surname}", user_path(user)

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path

