<h1>Udruga</h1>
<%= link_to 'Nova obavijest', new_news_path %>
<h3>Obavijesti</h3>
<% @news.each do |news| %>
  <p>
    <%= link_to news.title, news_path(news) %><br/>
    objavljeno: <%= news.created_at.strftime("%d.%m.%Y u %H:%M") %><br/>
    <%= news.summary %>
  </p>
<% end %>

<hr/>

<h3>Događaji</h3>
<% @events.each do |event| %>
  <p>
    <%= link_to event.name, event_path(event) %><br/>
    Datum: <%= event.start_date.strftime("%d.%m.%Y") %><br/>
    <%= event.description %>
  </p>
<% end %>

