%h1= @title

#news.rounded-box
  %h3 Obavijesti
  - @news.each do |news|
    %p
      = link_to news.title, news_path(news)
      %br/
      objavljeno: #{news.created_at.strftime("%d.%m.%Y u %H:%M")}
      %br/
      = news.summary

#events.rounded-box
  %h3 Događaji
  - @events.each do |event|
    %p
      = link_to event.name, event_path(event)
      %br/
      Datum: #{event.start_date.strftime("%d.%m.%Y")}
      %br/
      = event.description

-content_for :sidebar do
  =render :partial => 'layouts/side_calendar'
  %p
    =link_to 'Kalendar događanja', calendar_path
  %p
    =link_to 'Preuzmi iCal format', 'events.ical'

