%table
= form_for @news do |f|
  -if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  %tr
    %td
      .field
        = f.label :title, 'Naslov'
    %td
      = f.text_field :title
  %tr
    %td
      .field
        = f.label :summary, 'Sažetak'
    %td
      = f.text_field :summary
  %tr
    %td
      .field
        = f.label :date, 'Datum'
    %td
      = f.date_select :date, :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true
  %tr
    %td
      .field
        = f.label :text, 'Sadržaj'
    %td
      = f.text_area :text
  %tr
    %td
      .field
        = f.label :status, 'Status'
    %td
      = f.text_field :status
  %tr
    %td
    %td
      .actions
        = f.submit 'Spremi'

