%table
= form_for @news do |f|
  -if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  %tr
    %td
      .field
        = f.label :title, 'Naslov'
    %td
      = f.text_field :title
  %tr
    %td
      .field
        = f.label :summary, 'Sažetak'
    %td
      = f.text_field :summary
  %tr
    %td
      .field
        = f.label :text, 'Sadržaj'
    %td
      = f.text_area :text
  - if admin?
    %tr
      %td
        .field
          = f.label :status, 'Status'
      %td
        = select :news, :status, [["Predloženo",'suggested'], ["Javno",'public'], ["Interno",'internal'], ["Skriveno",'hidden']]
  %br
  %tr
    %td
    %td
      .actions
        = f.submit 'Spremi'

