%table
  %tr
    %th Datum
    %th Naslov
    %th Autor
    - if admin?
      %th Status

  - news.each do |news|
    %tr{:class => cycle('odd', 'even')}
      %td= news.created_at.strftime("%d.%m.%Y.")
      %td= link_to news.title, news_path(news)
      %td= logged_in? ? (link_to "#{news.user.name} #{news.user.surname}", user_path(news.user)) : ("#{news.user.name} #{news.user.surname}") unless news.user.nil?
      - if admin?
        %td= translate news.status

