%h1= @title

%table
  %tr
    %th Datum
    %th Naslov
    %th Status

  - @news.each do |news|
    %tr{:class => cycle('odd', 'even')}
      %td= news.date.strftime("%d.%m.%Y.")
      %td= link_to news.title, news_path(news)
      %td= news.status

%br

-content_for :sidebar do
  %p
    = link_to admin? ? 'Dodaj obavijest' : 'Predloži obavijest', new_news_path

