- if admin?
  - unless @suggested_news.nil? or @suggested_news.empty?
    %h3
      Predložene obavijesti
    = render :partial => 'news_table', :locals => {:news => @suggested_news}

- if admin?
  %h3
    Sve obavijesti
  = render :partial => 'news_table', :locals => {:news => @news}
-  else
  %h3
    Interne obavijesti
  = render :partial => 'news_table', :locals => {:news => @internal_news}

  %h3
    Javne obavijesti
  = render :partial => 'news_table', :locals => {:news => @public_news}


%br

-content_for :sidebar do
  - if admin?
    - unless @suggested_news.nil? or @suggested_news.empty?
      %p
        Predloženih obavijesti: #{@suggested_news.size}
  %p
    = link_to admin? ? 'Dodaj obavijest' : 'Predloži obavijest', new_news_path

