%p#notice= notice

%h1= @title

%p
  Datum:
  = @news.created_at.strftime("%d.%m.%Y.")

- unless @author.nil?
  %p
    Autor:
    = logged_in? ? link_to ("#{@author.name} #{@author.surname}", @author ) : "#{@author.name} #{@author.surname}"

- unless @news.summary.nil? or @news.summary.empty?
  %p
    %b Sažetak
    %p
      = @news.summary
- unless (@news.text.nil? or @news.text.empty?)
  %b Sadržaj
  %div.rounded-box
    %p
      = simple_format h(@news.text)
- unless (@news.status.nil? or @news.status.empty?)
  %p
    %b Status
    = @news.status


-content_for :sidebar do

  -if logged_in?
    %p
      = link_to admin? ? 'Dodaj obavijest' : 'Predloži obavijest', new_news_path
    %p
      = link_to 'Izmjeni obavijest', edit_news_path(@news) if authorized_for @news
    %p
      = link_to 'Obriši obavijest', @news, :confirm => 'Jeste li sigurni?', :method => :delete if authorized_for @news

