%p#notice= notice

%h1= @title

%p
  %b Title:
  = @news.title
%p
  %b Date:
  = @news.date
%p
  %b Summary:
  = @news.summary
%p
  %b Text:
  = @news.text
%p
  %b Status:
  = @news.status

= link_to 'Edit', edit_news_path(@news)
\|
= link_to 'Back', news_index_path

