<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Naziv' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_of_establishment, 'Datum osnutka' %><br />
    <%= f.date_select :date_of_establishment, :order => [:day, :month, :year], :start_year => 1950, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :informations, 'Informacije' %><br />
    <%= f.text_area :informations %>
  </div>
  <div class="actions">
    <%= f.submit 'Pošalji' %>
  </div>
<% end %>

