<h1><%= @title %></h1>

<table>
  <tr>
    <th>Naziv</th>
    <th>Email</th>
    <th>Datum osnutka</th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to organization.name, organization %></td>
    <td><%= organization.email %></td>
    <td><%= organization.date_of_establishment.strftime("%d.%m.%Y") %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :sidebar do %>
  <p><%= link_to 'Dodaj udrugu', new_organization_path %></p>
<% end %>

