%p#notice= notice

%h1= @title

%p
  %b Naziv:
  = @organization.name
%p
  %b Datum osnutka:
  = @organization.date_of_establishment
%p
  %b Email:
  = @organization.email

- unless (@organization.informations.nil? or @organization.informations.empty?)
  %b Informacije:
  %div.rounded-box
    = simple_format h(@organization.informations)

- unless @organization.members.empty?
  %p
    %b Članovi:
    %table
      %tr
        %th Prezime i ime
        %th Email
        %th Telefon
      - @organization.members.each do |user|
        %tr{:class => cycle('odd', 'even')}
          %td= link_to "#{user.surname} #{user.name}", user
          %td= user.email
          %td= user.phone


- content_for :sidebar do
  %p= link_to 'Dodaj tim', new_organization_path
  %p= link_to 'Izmjeni tim', edit_organization_path(@organization)
  = link_to 'Obrisi tim', @organization, :confirm => 'Are you sure?', :method => :delete

