<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<p>
  <b>Naziv:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Datum osnutka:</b>
  <%= @organization.date_of_establishment %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>

<p>
  <b>Informacije:</b>
  <%= @organization.informations %>
</p>

<% content_for :sidebar do %>
  <p><%= link_to 'Dodaj udrugu', new_organization_path %></p>
  <p><%= link_to 'Izmjeni udrugu', edit_organization_path(@organization) %></p>
  <%= link_to 'Obriši udrugu', @organization, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

