<div id="navigation">
  <%= link_to 'Početna', root_path %>
  <% if current_user %>
    <%= link_to 'Članovi', users_path %>
    <%= link_to 'Udruge', organizations_path %>
    <%= link_to 'Odjava', log_out_path %>
  <% else %>
    <%= link_to 'Prijava', log_in_path %>
    <%= link_to 'Novi korisnik', sign_up_path %>
  <% end %>
</div>

